@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  /* 가로축의 센터 */
  justify-content: center;
  /* 세로축의 센터 */
  align-items: center;
  /* 현재 웹스크린의 100%를 최소 높이로 갖겠다. */
  min-height: 100vh;
  /* html body가 기본적으로 가지고 있는 margin 제거 */
  margin: 0px;
  font-family: "GangwonEduAll", sans-serif;
}

.post_wrapper {
  display: flex;
  width: 100vw;
  height: 100vw;
  background-color: #f7fffd;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.post_wrapper img {
  margin: auto;
  max-width: 100%;
  max-height: 60%;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
  .BottomBar {
    width: 640px;
  }
  .post_wrapper {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 100vw;
  }
  .BottomBar {
    width: 100vw;
  }
  .post_wrapper {
    width: 100vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  /* padding-left: 20px;
  padding-right: 20px; */
}

/* 상단바 */
header {
  /* padding-top: 20%; */
  background-color: #ffb9b9;
}

.navbar {
  background-color: #ffffff;
  height: 75px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 2;
  border-bottom: solid 1px black;
}

.navbar .nav_btn_left {
  /* padding: 3% 1%; */
  width: 10%;
  margin: auto;
  /* 좌측 고정 */
}
.navbar .nav_btn_center {
  /* padding-left: 20%; */
  text-align: center;
  padding-bottom: 2%;
  margin: auto;
  font-family: GangwonEduAll;
  font-size: 30px;
}
.navbar .nav_btn_right {
  padding-right: 5%;
  width: 10%;
  margin: auto;
}

.menubar {
  border-bottom: solid 1px black;

  padding-top: 30px;
  padding-bottom: 30px;
  /* height: 10%; */
  /* width: 100%; */
  display: flex;
  font-family: GangwonEduAll;
  font-size: 30px;
  font-weight: bold;
}

.menubar .menu_btn_left {
  padding-left: 5%;
  width: 90%;
  justify-content: start;
  /* 좌측 고정 */
}
.menubar .menu_btn_center {
  /* padding-left: 20%; */
  width: 50%;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.menubar .menu_btn_right {
  padding-right: 5%;
  width: 10%;
  justify-content: end;
}

.menubar_last {
  border-bottom: solid 1px black;
}

.logoTop {
  display: flex;
  margin: auto;
  height: 80%;
}

.logo {
  /* position: flex; */
  display: flex;
  margin: auto;
  /* margin-top: 10%; */
  /* width: 300px; */
  width: 80%;
}

.postClosed {
  display: flex;
  margin: auto;
  margin-top: 120px;
  width: 40%;
  height: 30%;
}

.postOpen {
  transform-origin: 50% 50%;
  display: flex;
  margin: auto;
  margin-top: 75px;
  width: 40%;
  height: 30%;
}

.naver {
  display: flex;
  margin: auto;
  width: 225px;
}
.naver img {
  height: 100%;
  width: 100%;
}

.card {
  position: absolute;
  width: 188px;
  height: 128px;
  left: 101px;
  bottom: 60px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card2 {
  position: absolute;
  width: 188px;
  height: 180px;
  left: 101px;
  bottom: 60px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cardeni {
  animation: 1s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-2.5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* topbar {
  position: absolute;
  width: 100%;
  height: 101px;
  left: 50%;
  top: 0px;
  align-items: center;
  background: #ffb9b9;
} */

.BottomBar {
  min-height: 6vh;
}

.BottomBarIcon {
  min-width: 3vh;
}

.main {
  /* display: flex; */
  /* height: 700px; */
  background-image: url("../public/assets/background/2.jpg");
  background-size: cover;
  /* justify-content: space-between; */
}

/* 뉴/핫 버튼 */
.switch-position {
  position: fixed;
  /* width: 40%;
height: 40%; */
  right: 7%;
  top: 82%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blue_title {
  padding-top: 5%;
  margin-left: 5%;

  font-family: "GangwonEduAll";
  line-height: 17px;

  color: #000aff;
}

.logbox_text {
  margin-left: 5%;
  font-weight: bold;
  font-family: "GangwonEduAll";
}

.location_img {
  display: flex;
  margin: auto;
  width: 95%;
  height: 60%;
}
